absl-py
annotated-types
astunparse
blis
cachetools
catalogue
catppuccin-matplotlib
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
dm-tree
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256
filelock
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
Jinja2
joblib
keras
kiwisolver
langcodes
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
murmurhash
mysqlclient
namex
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
opt-einsum
packaging
pandas
pillow
preshed
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic_core
Pygments
pyparsing
pyphen
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rsa
safetensors
scikit-learn
scipy
seaborn
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
textblob
textstat
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
wrapt
xgboost
